﻿@using xpos334.viewmodels;
@model VMTblProduct

@{
    Layout = null;
    ViewData["Title"] = "Create Product";
}

<div class="card">
    <div class="card-body">

        @* <div class="h4 mb-4">@ViewData["Title"]</div> *@
        <div class="card-title">@ViewData["Title"]</div>

        <form asp-action="Create" method="post" id="form_input" enctype="multipart/form-data">
            <div class="mb-4 row">
                <label for="NameProduct" class="col-sm-4 col-form-label">Name Product</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="NameProduct" name="NameProduct" value="@Model.NameProduct">
                    <span id="validate_NameProduct" class="text-danger"></span>
                </div>
            </div>

            <div class="mb-4 row">
                <label for="IdCategory" class="col-sm-4 col-form-label">Name Category</label>
                <div class="col-sm-8">
                    @Html.DropDownList("IdCategory",
                    new SelectList(ViewBag.ListCategory, "Id", "NameCategory"),
                    "--Pilih Category--",
                    new {@class = "form-control"}
                    )
                </div>
            </div>

            <div class="mb-4 row">
                <label for="IdVariant" class="col-sm-4 col-form-label">Name Variant</label>
                <div class="col-sm-8">
                    @Html.DropDownList("IdVariant",
                    new SelectList(ViewBag.ListVariant, "Id", "NameVariant"),
                    "--Pilih Variant--",
                    new {@class = "form-control"}
                    )
                </div>
            </div>

            <div class="mb-4 row">
                <label for="Price" class="col-sm-4 col-form-label">Price</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="Price" name="Price" value="@Model.Price">
                </div>
            </div>

            <div class="mb-4 row">
                <label for="Stock" class="col-sm-4 col-form-label">Stock</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="Stock" name="Stock" value="@Model.Stock">
                </div>
            </div>

            <div class="mb-4 row">
                <label for="ImageFile" class="col-sm-4 col-form-label">Upload Image</label>
                <div class="col-sm-8">
                    <input type="file" class="form-control" id="ImageFile" name="ImageFile" value="@Model.Image">
                </div>
            </div>

            <div class="mb-4 row">
                <div class="col-sm-8">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <a class="btn btn-light" asp-controller="Product" asp-action="Index">Back to List</a>
                </div>
            </div>
        </form>

    </div>
</div>

<script>
    $("#form_input").validate({
        errorClass: "text-danger",
        rules: {
            NameProduct: {
                required: true,
                minlength: 3,
            },
            Price: {
                required: true,
                number: true,
            },
            Stock: {
                required: true,
                number: true,
            },
            IdCategory: "required",
            IdVariant: "required",
            ImageFile: {
                required: true,
                typeFile: "jpg|jpeg|png",
                sizeFile: true,
            },
        },
        messages: {
            NameProduct: {
                required: "Please fill Name Product",
                minlength: "The name must consist of at least 3 character"
            },
            Price: {
                required: "Please fill price",
                number: "Please fill number only",
            },
            Stock: {
                required: "Please fill stock",
                number: "Please fill number only",
            },
            IdCategory: "Please select category",
            IdVariant: "Please select category",
            ImageFile: {
                required: "Please fill image",
                typeFile: "Please upload jpn|jpeg|png",
                sizeFile: "Please upload file max size 1 mb",
            },
        },
        submitHandler: function (form) {
            var name = $("#NameProduct").val()
            var id = 0
            var idVariant = $("#IdVariant").val()

            $.ajax({
                url: "/Product/CheckNameIsExist",
                type: "get", //type atau method sama aja.
                data: { name: name, id: id, idVariant: idVariant },
                dataType: "json",
                success: function (respon) {
                    if (respon) {
                        $("#validate_NameProduct").text("Name Product is Already Exists");
                        return true;
                    }
                    else {
                        fungsiSubmit(form)
                    }
                }

            })
        }
    })

    function fungsiSubmit(form) {
        var formData = new FormData()
        var dataForm = $(form).serializeArray()
        $.each(dataForm, function (key, input) {
            formData.append(input.name, input.value)
        })
        var file = $("#ImageFile").prop("files")
        if (file.length > 0) {
            formData.append("ImageFile", file[0])
        }
        $.ajax({
            url: "/Product/Create",
            type: "post",
            data: formData,
            dataType: "json",
            contentType: false,
            processData: false,
            success: function (respon) {
                var data = respon.dataRespon
                if (data.success) {
                    $("#my_Modal").modal("hide")
                    // toastr.success(
                    //     data.message,
                    //     '',
                    //     {
                    //         timeOut: 500,
                    //         fadeOut: 500,
                    //         onHidden: function () {
                    //             window.location.reload()
                    //         }
                    //     }
                    // )

                    // Swal.fire(
                    //     'information',
                    //     data.message,
                    //     'success'
                    // ).then(function(){
                    //     window.location.reload()
                    // })

                    Swal.fire({
                        title: data.message,
                        width: 600,
                        padding: "3em",
                        color: "darkblue",
                        background: "#fff url(/adminmart/assets/images/buahbuahan.png)",
                        backdrop: `
                        rgba(0,0,123,0.4)
                            url("/adminmart/assets/images/background/mantap-mantab.gif")
                        left top
                        no-repeat
                      `
                    }).then((result) => {
                        if (result.value) {
                            window.location.reload();
                        }
                    });
                }
                else {
                    toastr.errorClass(data.message)
                }

            }
        })
    }
    jQuery.validator.addMethod("typeFile", function (value, element, param) {
        return value.match(new RegExp("." + param + "$"));
    });
    jQuery.validator.addMethod("sizeFile", function (val, element) {
        var size = element.files[0].size;
        if (size > 1048576)// checks the file more than 1 MB
        {
            return false;
        } else {
            return true;
        }
    });

    $("#IdCategory").change(function () {
        var idCategory = $(this).val()
        $.ajax({
            url: "/Product/GetDataByIdCategory",
            data: { id: idCategory },
            type: "get",
            dataType: "Json",
            success: function (respon) {
                $("#IdVariant").empty()
                $("#IdVariant").append("<option value=''>--PilihVariant--</option>")
                $.each(respon, function (index, res) { //untuk perulangan
                    $("#IdVariant").append("<option value='" + res.id + "'>" + res.nameVariant + "</option>")
                })
            }
        })
    })


</script>
