﻿@using xpos334.viewmodels;
@model VMTblProduct

@{
    Layout = null;
    ViewData["Title"] = "Detail Product";
}

<div class="card">
    <div class="card-body">

        @* <div class="h4 mb-4">@ViewData["Title"]</div> *@
        <div class="card-title">@ViewData["Title"]</div>


            <div class="mb-4 row">
                <label for="NameProduct" class="col-sm-4 col-form-label">Name Product</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="NameProduct" name="NameProduct" value="@Model.NameProduct" readonly>
                </div>
            </div>

            <div class="mb-4 row">
                <label for="IdCategory" class="col-sm-4 col-form-label">Name Category</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="NameCategory" name="NameCategory" value="@Model.NameCategory" readonly>

                </div>
            </div>

            <div class="mb-4 row">
                <label for="IdVariant" class="col-sm-4 col-form-label">Name Variant</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="NameVariant" name="NameVariant" value="@Model.NameVariant" readonly>

                </div>
            </div>

            <div class="mb-4 row">
                <label for="Price" class="col-sm-4 col-form-label">Price</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="Price" name="Price" value="@Model.Price" readonly>
                </div>
            </div>

            <div class="mb-4 row">
                <label for="Stock" class="col-sm-4 col-form-label">Stock</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="Stock" name="Stock" value="@Model.Stock" readonly>
                </div>
            </div>

            <div class="mb-4 row">
                <label for="ImageFile" class="col-sm-4 col-form-label">Gambar Produk</label>
                <div class="col-sm-8">
                @if (@Model.Image != null){
                    @* <input type="text" class="form-control" id="ImageFile" name="ImageFile" value="@Model.Image.Split("_")[1]" readonly> *@
                    @* <input type="text" class="form-control" id="ImageFile" name="ImageFile" value="@Model.Image.Split('_',2)[1]" readonly> *@
                    <img src="~/images/@Model.Image" class="rounded" height="50" width="50"></img>
                    <h6>"@Model.Image.Split("_",2)[1]"</h6>
                }
                </div>
            </div>

            <div class="mb-4 row">
                <div class="col-sm-8">
                    <a class="btn btn-light" asp-controller="Product" asp-action="Index">Back to List</a>
                </div>
            </div>


    </div>
</div>

