﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Detail Friend";
}

<div class="h4 mb-4">Detail Form Friend</div>

<div class="mb-4 row ">
    <label for="Id" class="col-sm-2 col-form-label">Id</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" id="Id" name="Id" value="@Model.Id" readonly>
    </div>
</div>
<div class="mb-4 row">
    <label for="Name" class="col-sm-2 col-form-label">Name</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" id="Name" name="Name" value="@Model.Name" readonly>
    </div>
</div>
<div class="mb-4 row">
    <label for="address" class="col-sm-2 col-form-label">address</label>
    <div class="col-sm-10">
        <textarea class="form-control" id="Address" name="Address" readonly>@Model.address</textarea>
    </div>
</div>
<div class="form-group row">
    <div class="col-sm-10">
        <a class="btn btn-outline-primary" asp-controller="Friend" asp-action="Index">Back To List</a>
    </div>
</div>