﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Page Friend";
}

<h1>@ViewData["Title"]</h1>

<a class="btn btn-primary" asp-controller="Friend" asp-action="Create">Create</a>

<table class="table table-hover">

    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Address</th>
            <th>Action</th> <!-- Untuk Menaruh tombol delete update dll-->
        </tr>
    </thead>
    <tbody>

        @foreach (Friend item in ViewBag.listFriend)
        //@foreach (Friend item in Model)
        {
            <tr>
                <th scope="row">@item.Id</th>
                <td>@item.Name</td>
                <td>@item.address</td>
                <td>
                    <a class="btn btn-outline-primary" asp-controller="Friend" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a class="btn btn-outline-success" asp-controller="Friend" asp-action="Detail" asp-route-id="@item.Id">Detail</a>
                    <a class="btn btn-outline-danger" asp-controller="Friend" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

