﻿@using xpos334.viewmodels;

@model VMTblCategory

@{
    //Layout = null;
    ViewData["Title"] = "Create Category Try";
}
<div class="card">
    <div class="card-body">

        <div class="h4 mb-4" @ViewData["Title"]></div>

     <form asp-action="Create" method="post">
        <div class="mb-4 row ">
            <label for="NameCategory" class="col-sm-4 col-form-label">Name Category</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="NameCategory" Name="NameCategory" value="@Model.NameCategory">
                <span asp-validation-for="NameCategory" class="text-danger"></span>
            </div>
        </div>
        <div class="mb-4 row ">
            <label for="Description" class="col-sm-4 col-form-label">Description</label>
            <div class="col-sm-8">
                    <input type="text" class="form-control" id="Description" Name="Description" value="@Model.Description">
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>




        <div class="form-group row">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-primary">Submit</button>
                <a class="btn btn-outline-primary" asp-controller="CategoryTry" asp-action="Index">Back To List</a>
            </div>
        </div>


      </form>
    </div>
</div>