﻿
@{
    ViewData["Title"] = "Delete Category Try";
}

<div class="card">
    <div class="card-body">

        <form asp-action="Delete" method="post">

            <input type="hidden" class="form-control" id="Id" Name="Id" value="@Model.Id">


            <div class="h3 mb-4 row">Are you sure for delete @Model.NameCategory ?</div>


            <div class="form-group row">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <a class="btn btn-outline-primary" asp-controller="CategoryTry" asp-action="Index">Back To List</a>
                </div>
            </div>

        </form>


    </div>
</div>