﻿@using xpos334.viewmodels;
@model PaginatedList<VMTblProduct>


@{
    var data = ViewBag.dataHeader;
}


<div class="row text-white">
    <div class="col-lg-4 col-6">
        <div class="btn btn-outline-info">
            <div class="inner">
                <h3 id="totalproduct">
                    @{
                        if (data != null)
                        {
                            <span>@data.TotalQty</span>
                        }
                        else
                        {
                            <span>0</span>
                        }
                    }
                </h3>
            </div>
            <div class="icon">
                <i class="ion ion-bag"></i>
            </div>
            <a class="small-box-footer">
                <h5>Total Product</h5>
            </a>
        </div>
    </div>

    <div class="col-lg-4 col-6">
        <div class="btn btn-outline-success">
            <div class="inner">
                <h3 id="estimateprice">
                    @{
                        if (data != null)
                        {
                            <span>@data.Amount</span>
                        }
                        else
                        {
                            <span>0</span>
                        }
                    }
                </h3>
            </div>
            <div class="icon">
                <i class="ion ion-pricetag"></i>
            </div>
            <a class="small-box-footer">
                <h5>Estimate Price</h5>
            </a>
        </div>
    </div>

    <div class="col-lg-4 col-6">
        <div class="btn btn-outline-danger" id="btn_checkout">
            <div class="inner">
                <h3>Checkout</h3>
                <div class="icon">
                    <i class="ion ion-cash"></i>
                </div>
                <a class="smal-box-footer">
                    <h5>More Info</h5>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="card-header">
    <div class="card-tools">
        <button class="btn btn-primary" id="btn_search">
            <i class="fas fa-search"></i>
            Search
        </button>
    </div>

</div>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4">

            <div class="card card-primary card-outline">
                <div class="card-body box-profile">
                    @* <div class="text-center">
                        <img class="profile-user-img img-fluid img-circle img-responsive" src="~/images/@item.Image" alt="User profile picture">
                    </div> *@
                    <style>
                        .aspect-ratio-container {
                            position: relative;
                            width: 100%;
                            padding-bottom: 50%; /* Ini memastikan proporsi aspek 1:1 (rubah sesuai kebutuhan) */
                            overflow: hidden;
                        }

                            .aspect-ratio-container img {
                                position: absolute;
                                width: 100%;
                                height: 100%;
                                object-fit: contain; /* Opsi ini akan memastikan gambar tetap proporsional */
                            }
                    </style>

                    <!-- Contoh penggunaan di dalam HTML -->
                    <div class="aspect-ratio-container" data-toggle="modal" data-target="#imageModal" onclick="previewImage('@item.Image')">
                        <img class="profile-user-img img-fluid img-circle img-responsive" src="~/images/@item.Image" alt="User profile picture">
                    </div>

                    <h3 class="profile-username text-center" id="name_@item.Id">@item.NameProduct</h3>
                    <p class="text-muted text-center">@item.NameCategory / @item.NameVariant</p>
                    <ul class="list-group list-group-unbordered mb-3">
                        <li class="list-group-item">
                            <b>Price</b> <a class="float-right" id="price_@item.Id">@item.Price</a>
                        </li>
                        <li class="list-group-item">
                            <b>Stock</b> <a class="float-right" id="stock_@item.Id">@item.Stock</a>
                            <span class="text-danger" id="valid_stock_@item.Id"></span>
                        </li>
                    </ul>
                    <div class="row">
                        <div class="col-4">
                            <a id="min" dataid="@item.Id" class="btn btn-outline-danger btn_min" style="color:darkblue">
                                <b>-</b>
                            </a>
                        </div>
                        <div class="col-4 text-center">
                            <span class="text-lg" id="totalitem_@item.Id">0</span>
                        </div>
                        <div class="col-4">
                            <a id="plus" dataid="@item.Id" class="btn btn-outline-success float-right btn_plus" style="color:darkblue">
                                <b>+</b>
                            </a>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    }

</div>

<div class="card-footer">
    @{
        var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.HasNextPage ? "disabled" : "";
    }
    <div class="row">
        <div class="col-2">

            <form asp-action="Catalog" id="form_pagesize">
                <select name="PageSize" id="PageSize"
                        class="form-control">
                    <option value="3">3</option>
                    <option value="5">5</option>
                    <option value="10">10</option>
                </select>
            </form>
        </div>

        <div class="col-10">
            Page @Model.PageIndex of @Model.TotalPages
            <a id="aNext" asp-action="Catalog"
               asp-route-sortOrder="@ViewBag.CurrentSort"
               asp-route-pageNumber="@(Model.PageIndex + 1)"
               asp-route-currentFilter="@ViewBag.CurrentFilter"
               asp-route-pageSize="@ViewBag.CurrentPageSize"
               class="btn btn-info float-right @nextDisabled">
                Next
            </a>
            <a id="aPrev" asp-action="Catalog"
               asp-route-sortOrder="@ViewBag.CurrentSort"
               asp-route-pageNumber="@(Model.PageIndex - 1)"
               asp-route-currentFilter="@ViewBag.CurrentFilter"
               asp-route-pageSize="@ViewBag.CurrentPageSize"
               class="btn btn-info float-right @prevDisabled">
                Previous
            </a>
        </div>
    </div>
</div>

<div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="imageModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="imageModalLabel">Image Preview</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <img id="previewImage" class="img-fluid" src="" alt="Image Preview">
            </div>
        </div>
    </div>
</div>

<script>
    function previewImage(imageSrc) {
        $("#previewImage").attr("src", "/images/" + imageSrc);
    }

    let data = {}
    var totalproduct = parseInt($("#totalproduct").text())
    var estimateprice = parseInt($("#estimateprice").text())
    var obj = {}

    // SET LISTCHART First Load
    var ListCart = @Html.Raw(ViewBag.dataDetail)

    setTransaction()
    function setTransaction() {
        if (ListCart != null) {
            $.each(ListCart, function (index, element) {
                var id = element.IdProduct
                $("#totalitem_" + id).text(element.Qty)
                $("#stock_" + id).text(element.Stock)
            })
        }
    }

    $(".btn_plus").click(function () {
        if (ListCart == null || ListCart.length == 0) {
            ListCart = @Html.Raw(ViewBag.dataDetail)
            }

        obj = {}

        var id = parseInt($(this).attr("dataid"))
        var idprice = "#price_" + id
        var idtotalitem = "#totalitem_" + id
        var idstock = "#stock_" + id
        var idname = "#name_" + id

        var totalitem = parseInt($(idtotalitem).text())
        var price = parseInt($(idprice).text())
        var stock = parseInt($(idstock).text())
        var nameProduct = $(idname).text()

        validateStock(id, stock)

        if (stock > 0) {
            totalproduct++
            totalitem++
            stock--
            estimateprice = estimateprice + price

            $("#totalproduct").text(totalproduct)
            $("#estimateprice").text(estimateprice)

            $(idstock).text(stock)
            $(idtotalitem).text(totalitem)

            obj.IdProduct = id
            obj.Qty = totalitem
            obj.SumPrice = price * totalitem
            obj.Price = price
            obj.NameProduct = nameProduct
            obj.Stock = stock

            addList(id, obj)
        }

        

        console.log(ListCart)

        setSession()
    })


    $(".btn_min").click(function () {
        if (ListCart == null || ListCart.length == 0) {
            ListCart = @Html.Raw(ViewBag.dataDetail)
            }

        var id = parseInt($(this).attr("dataid"))
        var idprice = "#price_" + id
        var idtotalitem = "#totalitem_" + id
        var idstock = "#stock_" + id
        var idname = "#name_" + id


        var totalitem = parseInt($(idtotalitem).text())
        var price = parseInt($(idprice).text())
        var stock = parseInt($(idstock).text())
        var nameProduct = $(idname).text()


        if (totalitem > 0) {
            totalproduct--
            totalitem--
            stock++
            estimateprice = estimateprice - price

        }

        validateStock(id, stock)

        $("#totalproduct").text(totalproduct)
        $("#estimateprice").text(estimateprice)

        $(idtotalitem).text(totalitem)
        $(idstock).text(stock)

        obj.IdProduct = id
        obj.Qty = totalitem
        obj.SumPrice = price * totalitem
        obj.Price = price
        obj.NameProduct = nameProduct
        obj.Stock = stock

        spliceList(id, obj)

        console.log(ListCart)

        setSession()
    })

    function addList(id, obj) {
        const index = ListCart.map(e => e.IdProduct).indexOf(id);

        if (index == -1) {
            ListCart.push(obj)
        }
        else {
            ListCart[index].Qty = obj.Qty
            ListCart[index].Stock = obj.Stock
            ListCart[index].SumPrice = obj.SumPrice
        }
    }

    function spliceList(id, obj) {
        const index = ListCart.map(e => e.IdProduct).indexOf(id);

        if (index != -1) {
            ListCart[index].Qty = obj.Qty
            ListCart[index].Stock = obj.Stock
            ListCart[index].SumPrice = obj.SumPrice

            if (obj.Qty == 0) {
                ListCart.splice(index, 1)
            }
        }
    }

    function validateStock(id, stock) {

        if (stock == 0) {
            $("#valid_stock_" + id).text("out of stock")
        }
        else {
            $("#valid_stock_" + id).empty()
        }
    }

    function setSession() {
        data = {
            TotalQty: totalproduct,
            Amount: estimateprice,
            ListDetails: ListCart
        }

        data.namacustomer = ""
        data.idcustomer = 1

        $.ajax({
            url: "/Order/SetSession",
            data: { dataHeader: data },
            type: "post",
            dataType: "json",
            success: function (respon) {
                //alert("set session done")
            }
        })
    }

    $("#btn_checkout").click(function () {

        data = {
            TotalQty: totalproduct,
            Amount: estimateprice,
            ListDetails: ListCart
        }

        $("#modal_body").empty();

        @* modal diperbesar dengan add class *@
        $(".modal-dialog").addClass("modal-lg")

        if (ListCart.length > 0) {
            $("#modal_body").load("/Order/OrderPreview", data)
        }
        else {
            $("#modal_body").text("please select product before")
        }
        $("#my_modal").modal("show");
    })

    $("#btn_search").click(function () {
        $("#modal_body").empty()
        $("#modal_body").load("/Order/SearchMenu")
        $("#my_modal").modal("show")

        @* modal diperbesar *@
        $(".modal-dialog").removeClass("modal-lg")
    })

    $("#PageSize").val(@ViewBag.CurrentPageSize)
    $("#PageSize").change(function () {
        $("#form_pagesize").submit()
    })
</script>