﻿@using xpos334.datamodels;

@model TblRole


@{
    ViewData["Title"] = "Detail Role";
}

<div class="card">
    <div class="card-body">

        <div class="h4 mb-4" @ViewData["Title"]></div>
            <div class="mb-4 row ">
                <label for="RoleName" class="col-sm-4 col-form-label">Role Name</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="RoleName" Name="RoleName" value="@Model.RoleName" readonly>
                </div>
            </div>


            <div class="form-group row">
                <div class="col-sm-10">
                    <a class="btn btn-outline-primary" asp-controller="Role" asp-action="Index">Back To List</a>
                </div>
            </div>

    </div>
</div>
