﻿@using xpos334.viewmodels;
@model VMTblCustomer

@{
    Layout = null;
    ViewData["Title"] = "Detail Customer";
}

<div class="card">
    <div class="card-body">

        @* <div class="h4 mb-4">@ViewData["Title"]</div> *@
        <div class="card-title">@ViewData["Title"]</div>

            <div class="mb-4 row ">
                <label for="NameCustomer" class="col-sm-4 col-form-label">Name Customer</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="NameCustomer" Name="NameCustomer" value="@Model.NameCustomer"readonly>
                </div>
            </div>
            <div class="mb-4 row ">
                <label for="IdRole" class="col-sm-4 col-form-label">Name Role</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="IdRole" Name="IdRole" value="@Model.RoleName" readonly>
                </div>
            </div>
            <div class="mb-4 row ">
                <label for="Email" class="col-sm-4 col-form-label">Email</label>
                <div class="col-sm-8">
                    <textarea type="text" class="form-control" id="Email" Name="Email" readonly>@Model.Email</textarea>
                </div>
            </div>

            <div class="mb-4 row ">
                <label for="Password" class="col-sm-4 col-form-label">Password</label>
                <div class="col-sm-8">
                    <textarea type="text" class="form-control" id="Password" Name="Password" readonly>@Model.Password</textarea>
                </div>
            </div>

            <div class="mb-4 row ">
                <label for="Address" class="col-sm-4 col-form-label">Address</label>
                <div class="col-sm-8">
                    <textarea type="text" class="form-control" id="Address" Name="Address" readonly>@Model.Address</textarea>
                </div>
            </div>

            <div class="mb-4 row ">
                <label for="Phone" class="col-sm-4 col-form-label">Phone</label>
                <div class="col-sm-8">
                    <textarea type="text" class="form-control" id="Phone" Name="Phone" readonly>@Model.Phone</textarea>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-8">
                    <a class="btn btn-light" asp-controller="Customer" asp-action="Index">Back to List</a>
                </div>
            </div>

    </div>
</div>
