﻿@using xpos334.viewmodels;
@model VMTblCustomer

@{
    Layout = null;
    ViewData["Title"] = "Edit Customer";
}

<div class="card">
    <div class="card-body">

        @* <div class="h4 mb-4">@ViewData["Title"]</div> *@
        <div class="card-title">@ViewData["Title"]</div>

        <form asp-action="Edit" method="post" id="form_input">
            <input type="hidden" class="form-control" id="Id" name="Id" value="@Model.Id">

            <div class="mb-4 row ">
                <label for="NameCustomer" class="col-sm-4 col-form-label">Name Customer</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="NameCustomer" Name="NameCustomer" value="@Model.NameCustomer">
                </div>
            </div>
            <div class="mb-4 row ">
                <label for="IdRole" class="col-sm-4 col-form-label">Name Role</label>
                <div class="col-sm-8">
                    @Html.DropDownList("IdRole",
                    new SelectList(ViewBag.ListRole, "Id", "RoleName"),
                    "--Pilih Role--",
                    new { @class = "form-control"}
                    )
                </div>
            </div>
            <div class="mb-4 row ">
                <label for="Email" class="col-sm-4 col-form-label">Email</label>
                <div class="col-sm-8">
                    <textarea type="text" class="form-control" id="Email" Name="Email">@Model.Email</textarea>
                    <span id="validate_Email" class="text-danger"></span>

                </div>
            </div>

            <div class="mb-4 row ">
                <label for="Password" class="col-sm-4 col-form-label">Password</label>
                <div class="col-sm-8">
                    <textarea type="text" class="form-control" id="Password" Name="Password">@Model.Password</textarea>
                </div>
            </div>

            <div class="mb-4 row ">
                <label for="Address" class="col-sm-4 col-form-label">Address</label>
                <div class="col-sm-8">
                    <textarea type="text" class="form-control" id="Address" Name="Address">@Model.Address</textarea>
                </div>
            </div>

            <div class="mb-4 row ">
                <label for="Phone" class="col-sm-4 col-form-label">Phone</label>
                <div class="col-sm-8">
                    <textarea type="text" class="form-control" id="Phone" Name="Phone">@Model.Phone</textarea>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-8">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <a class="btn btn-light" asp-controller="Customer" asp-action="Index">Back to List</a>
                </div>
            </div>
        </form>

    </div>
</div>

<script>
    $("#form_input").validate({
        errorClass: "text-danger",
        rules: {
            Email: {
                required: true,
                minlength: 3,
            },
            Email: "required"
        },
        messages: {
            Email: {
                required: "Please fill Name Customer",
                minlength: "The name must consist of at least 3 characters",
            },
            Email: "please select Role"
        },
        submitHandler: function (form) {

            var dataForm = $(form).serialize()
            var email = $("#Email").val()
            var id = $("#Id").val()

            $.ajax({
                url: "/Customer/CheckNameIsExsist",
                type: "get", //type atau method sama aja.
                data: { email: email, id: id },
                dataType: "json",
                success: function (respon) {

                    if (respon) {
                        $("#validate_Email").text("Email Already Axists")
                        return true;
                    }
                    else {
                        fungsiSubmit(dataForm)
                    }
                }

            })
        }
    })
    function fungsiSubmit(dataParam) {
        $.ajax({
            url: "/Customer/Edit",
            type: "post",
            data: dataParam,
            dataType: "json",
            success: function (respon) {
                var data = respon.dataRespon
                if (data.success) {
                    $("#my_modal").modal("hide")

                    toastr.success(
                        data.message,
                        '',
                        {
                            timeOut: 500,
                            fadeOut: 500,
                            onHidden: function () {
                                window.location.reload()
                            }
                        }
                    )
                }
                else {
                    toastr.errorClass(data.message)
                }

            }
        })
    }

</script>